appdirs==1.4.4
attrs==20.2.0
black @ git+git://github.com/psf/black@7f75fe3669ebf0627b1b0476a6d02047e909b959
click==7.1.2
flake8==3.8.4
flake8-black==0.2.1
importlib-metadata==2.0.0
iniconfig==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.4
pathspec==0.8.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.1
pytest-flake8==1.0.6
regex==2020.11.13
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
zipp==3.4.0
